body{
    background-color:#eeeabe;
    text-align: center;
}
header{
    font-size: 10px;
    text-align: right;
}
h1{
    font-family: "Castoro Titling", serif;
    font-size: 30px;
    text-align: center;
    line-height: 1.25;
}
h2{
    font-family: "Castoro Titling", serif;
    font-size: 20px;
    text-align: center;
    line-height: 1.25;
}

p{
    font-family: 'Times New Roman', Times, serif;

}
.accent {
    color: hwb(0 18% 82%);
    margin: auto; 
    background-color: beige;
    text-align: center;
 }

 .teal-text {
    color: teal;
 }
.image-bg {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
  color: white;
  border-radius: 8px;
}

 .emphasis {
    font-family: cursive;
    text-decoration: wavy;
 }
 .primary-navigation ul{
    list-style: none;
    margin: 0px;
    padding: 0px;

 }
 .wrapper{
    max-inline-size: 2000px;
    margin-inline: auto;
 }

 .two-cols{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
 }

  .three-cols{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
 }


.silly-text {
    color: rgb(249, 0, 150);
    font-family: cursive;
 }



a {
    color: #097379;
    }

a:visited{
    color: #533746;
}

a:hover {
    color: #9b67d2;
    text-decoration:underline !important;
}

a:active{
    color: rgb(120, 126, 116);
}

img{
    display: block;
    max-inline-size: 100%;
}
strong{
    background-color: aquamarine;
}
footer{
    background-color: #f5f5dc;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    font-weight: bold;
    text-align: center;
}